<div class="container" appScroll>
  <div class="map">
      <mat-card><app-map [lat]="32.0903731" [lng]="34.8400775"></app-map></mat-card>
  </div>
  <div class="loader-wrapper" *ngIf="loading">
    <mat-progress-spinner></mat-progress-spinner>
  </div>
  <div class="contactus-form" >
      <mat-card>
        <mat-card-header>
            <h1>צור קשר</h1>
        </mat-card-header>

      <mat-card-content>
        <mat-form-field appearance="legacy" >
          <input matInput placeholder="שם מלא">
        </mat-form-field><br>
      
        <mat-form-field>
          <input matInput placeholder="טלפון">
        </mat-form-field><br>

        <mat-form-field>
            <textarea matInput placeholder="הודעה"></textarea>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent" class="button" mat-button (click)="submit()">שלח</button>
      </mat-card-actions>
      </mat-card>
    </div>
  </div>