#productsContainer{

    direction: rtl;
    display: table;
    width: 100%;
    margin: 0px auto;
    max-width: 1200px;
    font-size: 0px;

    #productsSearch{
        background-color: red
    }

    #productsRefiner{
 
        position: absolute;
        float: right;
        box-sizing: border-box;
        padding: 40px 0px 40px 40px;
        box-shadow: inset 0 -7px 20px -7px rgba(0,0,0,0.2);
        vertical-align: top;
        display: table-cell;
        width: 270px;
        min-width: 270px
    }

    #productsList{
        padding: 0;
        margin: 0;
        background-color: wheat;
        width: 77%;
        float: left;
        top: 0
    }
}