@import 'variables';

#products .ul-products {
    
    list-style: none;

    li {
        display: inline-block;
        width: $product-size-brwoser;
        text-align: center;
        padding: 10px;
      }
  }