.footer{
    padding: 12px;
    font-size: 12px;
    margin-top: 40px;
    background: #3f51b5;
    color: #fff;
}
    .footer-content{
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        padding: 8px;
    }