@import 'variables';

.footer {
    @extend %secondary-dark;
    position: relative;
    left: 0;
    direction: rtl;
    height: 150px;
    width: 100%;
    overflow: hidden;
    
    .footer-content{
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        
        p{
            color: $secondary-color;
        }
    }
}