$font-stack:    Helvetica, sans-serif;
$primary-color: white;
$second-color: black;
$background: #111E6c;
$active: #2da9d2;
$active-after: #608f9f;
$home-title-size: 12px;
$home-title-color: red;
$product-size-brwoser: 200px;
$product-name-color: #23a1d1;
$product-like-color: red;
$footer-back: #37474F;
$footer-color: white;
$font-site: 'Open Sans Hebrew', 'Open Sans', sans-serif;