$font-stack:    Helvetica, sans-serif;
$primary-color: white;
$second-color: black;
$background: #111E6c;
$active: #2da9d2;
$active-after: #608f9f;
$home-title-size: 30px;
$home-title-color:#000000;
$product-size-brwoser: 200px;
$product-name-color: #23a1d1;
$product-like-color: red;
$carousel-btn-back: #4682B4;
$footer-back: #37474F;
$footer-color: white;
$font-site: 'Open Sans Hebrew', 'Open Sans', sans-serif;

$grid-brakepoints: (
    xs:0,
    sm:567,
    md:768,
    lg:992,
    xl:1200
)