@import 'reset';
@import 'variables';
@import 'mixins';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body{

    margin: 0 !important;
    background-color: #e9ebee;
 
    .container {
        margin: 0 auto;
        width: 100%;
        padding: 10px;
    }

    .title {
        font-size: 1.5rem !important;
    }

    .label {
       color: $prim-color;
       font-size: 1 rem!important;
    }

    .margin-l {
        margin-left: 10px; 
    }

    .margin-b {
        margin-bottom: 10px; 
    }

    .break {
        word-break: break-all;  
    } 
    .page {
        width: 80%;
        margin: 0 auto;
        max-width: 1140px;
        display: flex;

        .grid {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}