<!-- <div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title container title">{{product.name}}</h4>
    </div>
    <div class="modal-body">
      <div class="product-modal-image image-wrapper">
         <img class="img-responsive loading img-fluid" src={{product.img}}>
      </div>
      <div class="container">
        <div class="product-modal-details">
          <p class="title margin-b">{{product.name}}</p>
          <p class="margin-b"> 
            <span class="margin-l label">תיאור</span>
            <span class="break">{{product.description}}</span>
          </p>
        </div>  
        <div class="product-modal-price margin-b">
          <p class="margin-b"> 
              <span class="margin-l label">מחיר</span>
              <span>{{product.price}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
</div> -->

<div class="product-modal-container container">
  <div class="product-modal-header row">
    <i class="material-icons">close</i>
  </div>
  <div class="product-modal-body row h-100"> 
      <div class="right-col col-sm">
          <div class="image-wrapper">
            <div class="product-modal-image" [ngStyle]="{'background-image': getProductImageUrl()}"></div>
          </div>
      </div>
      <div class="left-col col">
        <div class="border-b"> 
          <div class="product-modal-details">
            <div>
              <span class="label">מחיר</span>
            </div>
            <div>{{product.price}}</div>
          </div>
          <div class="">
            <div class="label">כשרות</div>
          </div>
        </div>
        <div class="product-modal-description">
          <div class="row">
            <h1 class="product-modal-name bold">
                {{product.name}}
            </h1>
          </div>
          <div class="">
            <p class="product-modal-price"> 
              {{product.description}}
            </p>  
          </div>
        </div>
        <div class="product-modal-actions">
            <button mat-raised-button color="secondary">הוסף לעגלה</button>
        </div>
      </div>
  </div>
</div>