<div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title container title">{{product.name}}</h4>
    </div>
    <div class="modal-body">
      <div class="product-modal-image image-wrapper">
         <img class="img-responsive loading img-fluid" src={{product.img}}>
      </div>
      <div class="container">
        <div class="product-modal-details">
          <p class="title margin-b">{{product.name}}</p>
          <p class="margin-b"> 
            <span class="margin-l label">תיאור</span>
            <span class="break">{{product.description}}</span>
          </p>
        </div>  
        <div class="product-modal-price margin-b">
          <p class="margin-b"> 
              <span class="margin-l label">מחיר</span>
              <span>{{product.price}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
</div>