@import 'variables';

.home-contianer {

    &.home-sm {
        .catalog-grid {
            display: block !important;
        }
    }

    .catalog {

        .catalog-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            -webkit-box-pack: justify;

            .product-card-container {
                width: 23%;
            }
        }
    }
}