<!-- <div class="appbar-container" [class.appbar-is-mobile]="mobileQuery.matches" >
    <mat-toolbar [color]="white" class="appbar-toolbar" *ngIf="mobileQuery.matches">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="app-logo"></div>
    </mat-toolbar>

    <mat-sidenav-container class="appbar-sidenav-container" [style.marginTop.px]="0">
        <mat-sidenav #snav
            (openedChange)="onOpenedChange($event)"
            [@expandCollapse] = snav.opened
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                    <a (click)="snav.toggle()" routerLink="/home" mat-menu-item >ראשי</a>
                    <a (click)="snav.toggle()" routerLink="/catalog" mat-menu-item >קטלוג</a>
                    <a (click)="snav.toggle()" routerLink="/about" mat-menu-item >מי אנחנו</a>
                    <a (click)="snav.toggle()" routerLink="/contact" mat-menu-item >צור קשר</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content *ngIf="!mobileQuery.matches" class="appbar-contnet">
            <div routerLink="/home" class="app-logo-continar">
                <div class="app-logo"></div>
            </div>
            <div class="menu-items menu">
                <a class="menu-item" routerLink="/home" routerLinkActive="nav-active" data-title="ראשי">ראשי</a>
                <a class="menu-item" routerLink="/catalog" routerLinkActive="nav-active" data-title="קטלוג">קטלוג</a>
                <a class="menu-item" routerLink="/about" routerLinkActive="nav-active" data-title="מי אנחנו">מי אנחנו</a>
                <a class="menu-item" routerLink="/contact" routerLinkActive="nav-active" data-title="צור קשר">צור קשר</a>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div> -->
<!-- <div class="app-bar-container"  [class.appbar-is-mobile]="mobileQuery.matches">
    <header>
        <div class="header-top">
            <mat-toolbar color="secondary">
                <mat-toolbar-row>
                    <div class="container">
                        <div class="row justify-content-around align-items-center">
                            <div class="col-12 col-md-auto">
                                <a href="#" class="location">45 Rupara st, Sidney, Australia</a>
                                <span class="phone-number">+61 (08) 8276 8692</span>
                            </div>
                            <div class="col-12 col-md-auto search-container">
                                <span class="search-icon"><i class="material-icons">search</i></span>
                                <input type="text" class="search" placeholder="חפש...">
                            </div>
                        </div>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
        <div class="header-bottom">
            <div class="container header-holder">
                <div class="row justify-content-around align-items-center header-row">
                    <div class="col-auto col-lg-1">
                        <div class="app-logo"></div>
                    </div>
                    <nav class="col-auto col-lg-7 menu">
                        <ul>
                            <li *ngFor="let item of navItems">
                                <a href={{item.path}} class="menu-link">{{item.name}}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>   -->
<header>
    <div class="menu">
        <div class="app-bar-container wrapper">
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <div class="col-2" *ngIf="mobileQuery.matches">
                       <span><i class="material-icons"> menu</i></span>
                    </div>
                    <div class="logo col-2" *ngIf="mobileQuery.matches"></div>
                    <div class="site-name col-8">
                        <span>שם האתר</span>
                    </div>
                    <div class="search col-4">
                        <input type="text" pInputText placeholder="חפש"/>
                        <span >
                            <i class="material-icons">search</i>
                        </span>
                    </div>
                </mat-toolbar-row>
                <mat-toolbar-row *ngIf="!mobileQuery.matches">
                    <img src='/assets/images/logo.png' class="logo">
                    <nav>
                        <ul>
                            <li *ngFor="let navItem of navItems">
                                <a [routerLink]="navItem.path">
                                    <span>{{navItem.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</header>