@import 'variables';

.appbar-container {
    width: 100%;
    height: 80px;
    background-color: $primary-color;
    color : $second-color;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 5px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    text-align: center;
    position: fixed;

    .appbar-toolbar {
        background-color: $primary-color;
    }
    
    .appbar-sidenav-container {
        height: 100%;
        flex: 1;
        background-color: $primary-color;
    }

    .appbar-contnet {
        background-color: $primary-color;
        height: 100%;
        width: 50%;
        margin: 0 auto;
        padding: 17px;
        overflow: hidden;

        .app-logo-continar {
            float: right;
            height: 100%;
            width: 20%;
            margin-left: 10%;
            cursor: pointer;
            
            .app-logo:focus {
                text-decoration: initial !important;
            }

            .app-logo {
                margin: 0 auto;
                background-image: url('/assets/images/logo.png');
                background-repeat: no-repeat; 
                width: 100%;
                height: 100%;
                float: right;
            }
        }

        .menu-items {

            .menu-item {
              padding: 20px;
            }

            a.nav-active {
                 box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
                 color:white;
                 background-color:$active;
             }
    
             .nav-active::before{
                 box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
                 padding-left: inherit;
                 padding-right: inherit; 
                 margin: -20px;
                 top: 78px;
                 height: 23px;
                 position: absolute;
                 content: attr(data-title);
                 background-color:$active-after;
                 color:$active-after;
             }
 
              a:hover{  
                 text-decoration: initial;
              } 
         } 
    }
}
/* For Mobile*/
.appbar-is-mobile {
    height: 46px;

    .appbar-toolbar {
        position: fixed;
        z-index: 2;

        .app-logo {
            margin:0 auto;
            padding: 25px;
            background-image: url('/assets/images/logo.png');
            background-repeat: no-repeat;      
        }
    }
    .appbar-sidenav-container {
        height: 50%;
        flex: 1;
        background-color: $primary-color;
    }
}
 