<div class="appbar-container" [class.appbar-is-mobile]="mobileQuery.matches" >
    <mat-toolbar [color]="white" class="appbar-toolbar" *ngIf="mobileQuery.matches">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="app-logo"></div>
    </mat-toolbar>
      
    <mat-sidenav-container class="appbar-sidenav-container"
        [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav #snav 
            [mode]="mobileQuery.matches ? 'push' : 'push'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
                <a routerLink="/home" mat-menu-item >ראשי</a>
                <a routerLink="/catalog" mat-menu-item >קטלוג</a>
                <a routerLink="/about" mat-menu-item >מי אנחנו</a>
                <a routerLink="/contact" mat-menu-item >צור קשר</a>
        </mat-nav-list>
    </mat-sidenav>
      
        <mat-sidenav-content *ngIf="!mobileQuery.matches" class="appbar-contnet">
            <div routerLink="/home" class="app-logo-continar">
                <div class="app-logo"></div>
            </div>
            <div class="menu-items menu">
                <a class="menu-item" routerLink="/home" routerLinkActive="nav-active" data-title="ראשי">ראשי</a>
                <a class="menu-item" routerLink="/catalog" routerLinkActive="nav-active" data-title="קטלוג">קטלוג</a>
                <a class="menu-item" routerLink="/about" routerLinkActive="nav-active" data-title="מי אנחנו">מי אנחנו</a>
                <a class="menu-item" routerLink="/contact" routerLinkActive="nav-active" data-title="צור קשר">צור קשר</a>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>