.app-carousel {

    img {
       display: block;
        height: 400px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1; 
    } 
}

.carousel-is-mobile {
    
    img {
        display: block;
        height: 200px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1; 
     }
}