@import 'variables';

#catalogContainer {
    display: flex;
}
.catalog-is-mobile {
    display: block !important;

    .mobile-filter {
        @extend %secondary;
         margin-bottom: 15px;
         -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
        
         .icon-blue {
           color: $secondary-color;
        }
        span {
            color: $secondary-color;
        }
    }
}