#catalogContainer{

    direction: rtl;
    display: table;
    width: 100%;
    margin: 0px auto;
    max-width: 1200px;
    font-size: 0px;

    #catalogSearch{
        background-color: white
    }

    #catalogFilter{
 
        position: absolute;
        float: right;
        box-sizing: border-box;
        padding: 20px 0px 10px 40px;
        vertical-align: top;
        display: table-cell;
        width: 270px;
        min-width: 270px
    }

    #catalogList{
        padding: 0;
        margin: 0;
        background-color:white;
        width: 77%;
        float: left;
        top: 0
    }
}