@import 'variables';

#productContainer {
    
    .product-thumb {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        overflow: auto;

        .image-wrapper {
            text-align: center;
            overflow: hidden;

            img {
                margin-left: auto;
                margin-right: auto;
                min-width: 150px;
                min-height: 200px;
            }
        }

        .image-wrapper:after, .loading {
            content: ' ';
            background: transparent url('/assets/images/loadingSpinner.gif') center no-repeat;    
            mix-blend-mode: screen;
        }
        
        .caption {
            padding: 0 20px;
            min-height: 180px;

            .name{
               color: $product-name-color;
            }
            .description {
                font-size: 12px !important;
            }
            .price{
                color: #444;
            }
        }

        .button-group {
            border-top: 1px solid #ddd;
            background-color: #eee;
            overflow: auto;

            button {
                width: 20%;
                border-left: 1px solid #ddd;
                background-color: transparent;
                color: $product-like-color;
            }
        }
    }
}